{% extends "encyclopedia/layout.html" %}

{% block title %}
    Wiki/Create New Page
{% endblock %}

{% block body %}
    <form class="new-form" action="{% url 'new' %}" method="post">
        {% csrf_token %}
        <h4>Title</h4>
        <input type="text" name="title" value="{{ title }}">
        {% if error_message and not title %}
            <div class="alert alert-warning">{{ error_message }}</div>
        {% endif %}
        {% if error_message and title %}
            <div class="alert alert-warning">{{ error_message }}</div>
        {% endif %}
        <h4>Description</h4>
        <textarea name="body">{{ body }}</textarea>
        <div>
            <input type="submit" value="Add!" class="btn btn-primary">
        </div>
    </form>
{% endblock %}
